#city {
    width: 100%;
    margin: 10px 0;
    color: black;
    /* text-decoration: line-through; */
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}